@import url('../node_modules/bootstrap/scss/bootstrap.scss');

@font-face {
  font-family: 'Josefin Sans';
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('woff2 supports variations'),
  url('./fonts/JosefinSans-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 700;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

button, textarea, input {
  :focus {
    outline: 0;
  }
}